#gallery3dwrap a {
  color: #da2020;
  font-weight: bold;
  text-decoration: none;
}
#gallery3dwrap a:hover {
  color: #d6f300;
}
#gallery3dwrap h1 {
  text-shadow: 2px 3px 3px #555;
  text-align: center;
  margin: 30px auto;
  margin-bottom: 34px;
}
#gallery3dwrap {
  width: 980px;
  left: -490px;
  margin-left: 50%;
  position: relative;
}
#showcase {
  width: 100%;
  height: 700px;
  margin-top: 12px;
}
#showcase img {
  cursor: pointer;
}
#item-title {
  color: #f31414;
  font-size: 29px;
  letter-spacing: 0.13em;
  text-shadow: 1px 1px 6px #c72b2b;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 22px;
  padding: 10px;
}
.nav {
  text-align: center;
}
.nav > button {
  width: 64px;
  height: 36px;
  color: #666;
  font: bold 16px arial;
  text-decoration: none;
  text-align: center;
  margin: 5px;
  text-shadow: 0px 1px 0px #f5f5f5;
  background: #f6f6f6;
  border: solid 2px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.nav > button:active,
.nav > button.down {
  background: #dfdfdf;
  border: solid 2px rgba(0, 0, 0, 0.6);
  box-shadow: none;
}
.album-description {
  font-size: 13px;
  line-height: 25px;
  margin: 15px auto;
  text-align: justify;
}
